@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Bonheur+Royale&family=Inter&display=swap');

/* =======================
   Background da Scrollbar
    Chorme, Edge e Safari
   ======================= */
::-webkit-scrollbar {
    width: 12px;
    border: 5px solid #ffffff; 
}

/* =====================
        ScrollBar
   Chorme, Edge e Safari
   ===================== */
::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 50px;
    border: 2px solid #ffffff;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #000000;
}

/* ===================
   Container about
   =================== */
.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    width: 1325px;
    margin: 80px 100px 0px 100px;
}

/* ===================
   Container da NavBar
   =================== */
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1330px;
}

/* ===================
        Pode ser 
      reposicionado
   =================== */
nav a {
    position: relative;
}

/* ========================
   Cria a barra horizontal
        abaixo do nav a
   ======================== */
nav a::after {
    content: " ";
    width: 0%;
    height: 2.2px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.25s ease-in-out;
}

/* ====================
   Mouse acima == ativo
   ==================== */
nav a:hover::after {
    width: 100%;
    border-radius: 10px;
}

/* ===================
     Dimensão da Logo
   =================== */
#logo {
    height: 20%;
    width: 20%;
}

/* ===================
       Alinhamento 
        Horizontal
   =================== */
.nav-links {
    display: flex;
    justify-content: space-between;
    width: 790px;
}

/* ===================
     Texto da Navbar
   =================== */
.nav-links li a {
    text-decoration: none;
    font-family: "Arsenal", "Arial", "Times New Roman";
    font-weight: 700;
    font-size: 26px;
    color: #000000;
}

/* ===================
   Container content 
   =================== */
.container-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    margin: 0px 100px 0px 100px;
}

/* ===================
      Astronaut img
   =================== */
#astronaut {
    margin-top: 90px;
    width: 30%;
    height: 30%;
}

/* ===================
      Article sobre
   =================== */
#about-article {
    margin-left: 140px;
}

/* ===================
    Container Content 
   =================== */
.content {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

/* ===================
    Título seção Sobre 
   =================== */
.title-about {
    font-family: "Arsenal", "Arial", "Times New Roman";
    font-size: 27.5px;
    line-height: 1.5;
}

/* ===================
   Texto seção Sobre 
   =================== */
.text-about {
    text-indent: 47.25px;
    line-height: 1.5;
    text-align: justify;
}

/* ===================
      Formatação do 
     título da seção 
   =================== */
.title-section {
    font-family: "Arsenal", "Arial", "Times New Roman";
    font-size: 35px;
    text-align: center;
    margin-bottom: 90px;
    margin-top: 90px;
}

/* ===================
     Container Cards 
   =================== */
.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px 0px 200px;
} 

/* ===================
    Container Items 
          Cards 
   =================== */
.card-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}