/* ===================
     Animação carregar 
        conteúdo
   =================== */
@keyframes load {
    to {
        opacity: 1;
    }

    from {
        opacity: 0;
        transform: translateX(0);
    }
}

/* =====================
   Definição da animação 
   ===================== */
.load-animation {
    animation-name: load;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

/* ===================
        Reset geral
   =================== */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial", "Times New Roman";
}

body {
    overflow-x: hidden;
}

/* ===================
     Header e Navbar
   =================== */
.header-nav {
    transform: translateX(20px);
}

/* ===================
   Container flexível
   =================== */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    width: 1350px;
    padding: 5px;
    margin: 80px 105px 0px 105px;
}

/* ===================
          Reset
   =================== */
header, article, section {
    position: relative;
    margin: 0px;
    padding: 0px;
    top: 0;
    height: auto;
    width: 100%;
}

/* ===================
   Container da NavBar
   =================== */
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}

/* ===================
     Dimensão da Logo
   =================== */
#logo {
    height: 20%;
    width: 20%;
}

/* ===================
    Reset e Formatação 
   =================== */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/* ===================
       Alinhamento 
        Horizontal
   =================== */
.list {
    display: flex;
    justify-content: space-between;
    width: 770px;
}

/* ===================
     Deixar em linha 
   =================== */
li {
    display: inline;
}

/* ===================
     Texto da Navbar
   =================== */
.list li a {
    text-decoration: none;
    font-size: 24px;
    color: black;
}

/* ===================
     Seção motivação
   =================== */
.section-motivation {
    transform: translateX(20px);
}

/* ===================
   Container content 
   =================== */
.container-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 105px 0px 105px;
}

/* ===================
      Astronaut img
   =================== */
#astronaut {
    margin-top: 90px;
    width: 30%;
    height: 30%; 
}

/* ===================
    Article motivação
   =================== */
#motivational-article {
    margin-left: 140px;
}

/* ===================
         Content 
   =================== */
.content {
    display: inline;
    width: 100%;
    height: 400px;
    margin-right: 20px;
}

/* ===================
   Formatação do Texto 
   =================== */
.text {
    text-indent: 47.25px;
    line-height: 1.5;
    margin-top: 0.75em;
    text-align: justify;
}