
/* ===================
     Container Cards 
   =================== */
   .cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 300px 0px 300px;
} 

/* ===================
    Container Items 
          Cards 
   =================== */
.card-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ===================
      Design do Card
   =================== */
.card {
    width: auto;
    height: auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 20px;
    transition: all 0.5s ease;
}

/* ===================
   Box-shadow ao redor
         do card
   =================== */
.card:hover {
    box-shadow: -6px 6px #000000;
    border: 1px solid #000000;  
}

/* ===================
    Espaçamento entre
      os Items Cards 
   =================== */
.card-items img {
    margin: 30px 0px;
}

/* ===================
     Título do Card
   =================== */
.title-card {
    color: #000000;
    font-size: 22px;
    text-align: center;
}

/* ===================
      Texto do Card
   =================== */
.text-card {
    color: #000000;
    line-height: 1.5;
    text-align: justify;
}